<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bookmarker</title>
    <meta name="description" content="A simple webapp for storing bookmarks">
    <meta name="author" content="Andrea Bergia">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <!-- <link rel="apple-touch-icon" href="images/apple-touch-icon.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"> -->
  </head>

  <body>
    <div class="navbar navbar-fixed">
      <div class="navbar-inner">
        <div class="fluid-container">
          <a class="brand" href="/">Bookmarker</a>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/links/">Your links</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="fluid-container">
      <div class="fluid-content">

        <!-- <div id="insertModal" class="modal hide fade"> -->
        <div id="insertModal" class="modal hide fade" style="display: none;">
          <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Insert a new bookmark</h3>
          </div>
          <form id="addlink" class="form-vertical" style="margin-bottom: 0px;">
            <div class="modal-body">
              <fieldset>
                <div class="control-group">
                  <label class="control-label" for="url">Enter an url:</label>
                  <div class="controls">
                    <input class="input-xxlarge focused" id="url" type="text" value="">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="keywords">Enter keywords:</label>
                  <div class="controls">
                    <input class="input-xxlarge focused" id="keywords" type="text" value="">
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="modal-footer">
              <button class="btn primary  disabled" type="submit" disabled id="submit">Insert Link</button>
              <a href="#" class="btn" data-dismiss="modal">Cancel</a>
            </div>
          </form>
        </div>

        <!-- TODO -->
        <a class="btn" data-toggle="modal" href="#insertModal" >Insert new link</a>

        <div class="row">
          <div class="span12">
            <form class="well form-search form-horizontal form-inline">
              <fieldset>
                <div class="control-group">
                  <label class="control-label" for="search">Quick search:</label>
                  <div class="controls">
                    <input type="text" class="input-medium search-query" id="search">
                  </div>
                </div>
              <fieldset>
            </form>
          </div>
        </div>

        <!-- Error message -->
        <div class="row">
          <div class="span12" id="alertContainer">
          </div>
        </div>

        <!-- Links -->
        <div class="row">
          <div class="span16">
            <h2>Your links</h2>
            <table id="links" class="table table-striped">
              <thead>
                <tr>
                  <th class="header"></th>
                  <th>Link</th>
                  <th>Since</th>
                  <th>Keywords</th>
                </tr>
              </thead>
              <tbody>
              {% for row in urls %}
              <tr id="row{{row.id}}">
                  <td><a class="btn small danger" href="#" onClick="closeRow('{{row.id}}')">×</a></td>
                  <td><a href="{{row.url}}" target="_blank">{{ row.url }}</a></td>
                  <td>{{ row.dateInsert|formatDateDistance }}</td>
                  <td>{% for keyword in row.keywords %}
                          {{ keyword }}
                      {% endfor %}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <footer>
          <p>&copy; 2012 <a href="mailto:andreabergia@gmail.com">Andrea Bergia</a></p>
        </footer>

      </div>
    </div> <!-- /container -->

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="/js/bootstrap-alert.js"></script>
    <script type="text/javascript" src="/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="/js/bookmarker.js"></script>
  </body>
</html>
